# Port for backend server
PORT=5001

# MongoDB Connection URI (use your local path or MongoDB Atlas cloud connection string)
MONGO_URI=mongodb://127.0.0.1:27017/todoapp

# Environment mode (development / production)
NODE_ENV=development
